
<div id="watchID" class="hide">{{session._id}}</div>

{{#if seen}}
    <ul>
        {{#each seen}}
            <li>
                <div class="spotted-birds">
                    <div id="{{speciesCode}}Code" class="hide">{{speciesCode}}</div>
                    <div id="{{speciesCode}}Name" class="hide">{{comName}}</div>
                    <div id="{{speciesCode}}ID" class="hide">{{_id}}</div>

                    <a href="https://ebird.org/species/{{speciesCode}}/us" class="bird-name">{{comName}}</a>
                    <!-- Button trigger modal -->

                    <button type="button" id="{{speciesCode}}Count" class="btn btn-primary" data-toggle="modal" data-target="#{{speciesCode}}Modal">
                        {{count.count}}</button>
                </div>

                <div class="minuses">
                    <div>{{speciesCode}}</div>

                    <form action="/birds/single/{{count.watchSession}}" method="POST" class="form-group">
                        <input type="hidden" name="_method" value="PUT">

                        <input type="number" name="count" value="{{count.count}}" id="{{speciesCode}}Minus">
                        <label for="modal-input">ID</label> <input type="text" value="{{_id}}" id="{{speciesCode}}modal-idS" name="birdId">

                        <button type="submit">
                            <i class="fas fa-minus-circle"></i>
                        </button>

                    </form>
                </div>

                <div class="adds">
                    <div>{{speciesCode}}</div>

                    <form action="/birds/single/{{count.watchSession}}" method="POST" class="form-group">
                        <input type="hidden" name="_method" value="PUT">

                        <input type="number" name="count" value="{{count.count}}" id="{{speciesCode}}Add">
                        <label for="modal-input">ID</label> <input type="text" value="{{_id}}" id="{{speciesCode}}modal-idA" name="birdId">

                        <button type="submit">
                            +1
                        </button>

                    </form>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="{{speciesCode}}Modal" tabindex="-1" role="dialog" aria-labelledby="birdModalLabel" aria-hidden="true">
                </div>
            </li>
        {{/each}}
    </ul>

{{else}}
    <p>You have not spotted any birds</p>
{{/if}}

<h5>Unseen</h5>

{{#if birds}}
    <ul>
        {{#each birds}}
            <li class="watch-list">



                <div class="spotted-birdsU">

                    <div id="{{speciesCode}}CodeU">{{speciesCode}}</div>
                    <div id="{{speciesCode}}NameU">{{comName}}</div>
                    <div id="{{speciesCode}}IdU">{{_id}}</div>

                    <a href="https://ebird.org/species/{{speciesCode}}/us" class="bird-name">{{comName}}</a>
                    <!-- Button trigger modal -->

                    <button type="button" id="{{speciesCode}}CountU" class="bird-btn-sm btn-primary" data-toggle="modal" data-target="#{{speciesCode}}ModalU">
                        0</button>
                </div>

                <div class="plusOne">
                    <div>{{speciesCode}}</div>

                    <form action="/birds/create/{{session._id}}" method="POST" class="form-group">
                        <input type="hidden" name="_method" value="PUT">

                       <input type="number" name="count" value="0" id="{{speciesCode}}Plus">
                       <input type="text" value="{{_id}}" id="{{speciesCode}}IdP" name="birdId">

                        <button type="submit" class="">
                            +1
                        </button>

                    </form>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="{{speciesCode}}ModalU" tabindex="-1" role="dialog" aria-labelledby="birdModalLabelU" aria-hidden="true">
                </div>

            </li>
        {{/each}}
    </ul>

{{else}}
    <p>You have not spotted any birds</p>
{{/if}}




<script>

    let elements = document.querySelectorAll('.spotted-birds');
    let elementsU = document.querySelectorAll('.spotted-birdsU');
    let minuses = document.querySelectorAll('.minuses');
    let adds = document.querySelectorAll('.adds');
    let pluses = document.querySelectorAll('.plusOne');
    let sessionId = document.getElementById('watchID').innerText;


    console.log(sessionId)

    // Opens modal to add updated count
    elements.forEach((element) => {
        element.addEventListener('mousedown', (e) => {
            let code, name, count, modalCount, modal, id;

            code = element.firstElementChild.innerText;
            name = document.getElementById(code + "Name").innerText;
            count = document.getElementById(code + "Count");
            id = document.getElementById(code + "ID").innerText; // Bird Modal id
            modalCount = document.getElementById('modal-count');
            modal = document.getElementById(code + "Modal");

            modal.innerHTML = `
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="birdModalLabel">${name}</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                <form action="/birds/update/{{session._id}}" method="POST" class="form-group">
                 <input type="hidden" name="_method" value="PUT">
                    <div class="modal-body" id="modal-count">
                          <label for="modal-input">Enter birds spotted</label> <input type="text" value="${count.innerText}" id="modal-input" name="count">
                          <label for="modal-input">Enter birds spotted</label> <input type="text" value="${code}" id="modal-code" name="code">
                          <label for="modal-input">ID</label> <input type="text" value="${id}" id="modal-id" name="birdId">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="Submit" class="btn btn-primary" id="save-input">Save changes</button>
                    </div>
                </form>

                </div>
            </div>`

            // Opens modal to create a new spooted bird session

        });
    });

    // Subtracts One to the number of spotted birds
    minuses.forEach((minus) => {
        minus.addEventListener('mousedown', (e) => {
            let subtract;

            subtract = minus.firstElementChild;
            code = subtract.innerText;
            count = document.getElementById(code + "Minus").value;

            console.log("Code", subtract)
            console.log("Code", code)
            console.log("Count 1", count)
            count--;
            console.log("Count 2", count)
            document.getElementById(code + "Minus").value = count
        });
    });

    // Adds One to the number of spotted birds
    adds.forEach((add) => {
        add.addEventListener('mousedown', (e) => {
            let addition;

            addition = add.firstElementChild;
            code = addition.innerText;
            count = document.getElementById(code + "Add").value;

            console.log("Code", addition)
            console.log("Code", code)
            console.log("Count 1", count)
            count++;

            document.getElementById(code + "Add").value = count
            console.log("Count 2", count)
        });
    });

    // Opens modal to add bird to seen list
    elementsU.forEach((element) => {
        element.addEventListener('mousedown', (e) => {
            let code, name, count, modalCount, modal, id;

            code = element.firstElementChild.innerText;

            name = document.getElementById(code + "NameU").innerText;

            count = document.getElementById(code + "CountU").innerText;

            id = document.getElementById(code + "IdU").innerText; // Bird Modal id

            modalCount = document.getElementById('modal-count');
            modal = document.getElementById(code + "ModalU");

            modal.innerHTML = `
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="birdModalLabel">${name}</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                <form action="/birds/create/{{session._id}}" method="POST" class="form-group">
                 <input type="hidden" name="_method" value="PUT">
                    <div class="modal-body" id="modal-count">
                          <label for="modal-input">Enter birds spotted</label> <input type="text" value="${count}" id="modal-input" name="count">
                          <label for="modal-input">Enter birds spotted</label> <input type="text" value="${code}" id="modal-code" name="code">
                          <label for="modal-input">ID</label> <input type="text" value="${id}" id="modal-id" name="birdId">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="Submit" class="btn btn-primary" id="save-input">Save changes</button>
                    </div>
                </form>

                </div>
            </div>`

            // Opens modal to create a new spooted bird session

        });
    });

    // Adds One to the number of spotted birds
    pluses.forEach((plus) => {
        plus.addEventListener('mousedown', (e) => {
            let addition, code, count, birdId;

            addition = plus.firstElementChild;
            form = addition.nextElementSibling;
            code = addition.innerText;
            console.log("Code: ", code);
            count = document.getElementById(code + "Plus").value;
            console.log("Count: ", count)
            birdId = document.getElementById(code + "IdP").value;
            count++

            document.getElementById(code + "Plus").value = count

            console.log("Count 2: ", count)

            form.action = `/birds/create/${sessionId}`;

            console.log("Count 1", count)
            console.log("Bird Id", birdId)



            count++;
            console.log("Count 2", count)

            count.value = count
        });
    });







</script>